<header>
    <h1>Robot arm control</h1>
</header>
<div class="row">
    <div class="st-col col-12 col-sm st-module">
        <plotly id="i2dey" data="W3siZ2J0eXBlIjoiTGluZSBDaGFydCIsIngiOiIkX3t0aW1lc30iLCJ5IjoiJF97YW5nbGVzfSIsInR5cGUiOiJzY2F0dGVyIiwibW9kZSI6ImxpbmVzIiwibmFtZSI6IlRyYWNlIn1d" config="e30=" layout="eyJ0aXRsZSI6Ik15IENoYXJ0In0="></plotly>
    </div>
    <div class="st-col st-module col-2">
        <q-toggle id="ib5wz" color="blue" label="Dashboard enabled" v-model="dashboard_enabled"></q-toggle><br>
        <div>
            <q-knob id="ihvae" v-model="angle" color="primary" track-color="grey" :max="6.6" :min="0" :step="1" :show-value="true"></q-knob>
        </div>
        <q-input id="ijixl" label="Ki " v-model="Ki" type="number"></q-input>
        <q-input id="i3mqg" label="Kp " v-model="Kp" type="number"></q-input>
        <q-input id="i6c9q" label="Kd " v-model="Kd" type="number"></q-input>
        <q-btn id="iq9dg" color="primary" label="Reset" v-on:click="reset = true"></q-btn>
    </div>
</div><br>